
h2{
	padding-left: 1%;
	color: white;
	background-color:#281d52;
	font-family: serif;
	font-weight:lighter;
	border-radius: 7px;
}

.name{
	font-family: 'Tenor Sans', sans-serif;
	font-size: 30px;
	letter-spacing:5px;
}

p
{
	padding-bottom:0.2%;

}

.mits{
	align-content: right;
}
.obj{
	font-size: normal;
	font-family: serif;
	font-size: 35px;
}



table{
	border-width: 2px;
	border-style: solid;
}

ul{
	padding-left: 90px;
	font-size:25px;
}
.bold{
	font-weight: bold;
}

tr{
	table-layout: table-height:25;
}

.dec{
	font-size:45px;
	font-weight: normal;
	padding-left:70px;
}
.sign{
	text-align: right;
	padding-right:15px;
}

#left{
width: 45%;
float: left;	
}

#right{
width: 45%;	
}

